/* Styling for the entire app container */
.App {
  text-align: center;
  margin: 200px;
}

/* Styling for the tooltip trigger element */
.tooltip-trigger {
  position: relative;
  display: inline-block;
}

/* Styling for the tooltip element */
.tooltip-trigger .tooltip {
  width: 100%;
  background-color: rgb(96, 240, 151);
  font-family: monospace;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
  z-index: 1;
}

/* Display the tooltip when hovering over the tooltip trigger element */
.tooltip-trigger:hover .tooltip {
  opacity: 1;
}

/* Tooltip positions */
.tooltip-right {
  top: -12px;
  left: 105%;
}

.tooltip-left {
  top: -12px;
  right: 105%;
}

.tooltip-top {
  bottom: 150%;
  left: -6%;
}

.tooltip-bottom {
  top: 150%;
  left: -6%;
}

/* Triangle arrow for top and bottom tooltips */
.tooltip-trigger .tooltip-top::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: rgb(96, 240, 151) transparent transparent transparent;
}

.tooltip-trigger .tooltip-bottom::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgb(96, 240, 151) transparent;
}

/* Triangle arrow for right and left tooltips */
.tooltip-trigger .tooltip-right::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent rgb(96, 240, 151) transparent transparent;
}

.tooltip-trigger .tooltip-left::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent rgb(96, 240, 151);
}

/* Styling for the button element */
.button {
  padding: 10px 15px;
  border: none;
  color: white;
  background-color: red;
  border-radius: 5px;
  font-family: monospace;
  text-decoration: dotted;
}
